.Api{
  background-color: black;
  margin-bottom: 4rem;
}

 .box {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 300vh;
    align-items: center;
    width: 100%;
    
  }
  
.apiHead{
    padding-top: 2rem;
    text-align: center;
    background: black;
    color: white;

  }
  
  th, td {
    border: 1px solid #fff;
  }
  
  table {
    border-collapse: collapse;
    color: #fff;
  }
  
  th td {
    padding: 3px;
  }